<main class="mt-5 py-5">


    <section *ngIf="step1" class="w-75 rounded mx-auto p-2 bg-light-main shadow mt-5 ">
        <h3 class="text-center text-main fw-bolder pt-2">Enter your Email:...</h3>
        <form [formGroup]="forgotpassword" (ngSubmit)="forgotForm()">
            <label class="label-color" for="email">Email:</label>
            <input formControlName="email" type="email" id="email" class="form-control">
            <button class="main-btn w-100 mt-3">Forget Password</button>
            <p *ngIf="errMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{errMessage}}</p>
        </form>
    </section>



    <section *ngIf="step2" class="w-75 rounded mx-auto p-2 bg-light-main shadow mt-5 ">
        <h3 class="text-center text-main fw-bolder pt-2">Enter the code:...</h3>
        <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
            <label class="label-color w-100" for="resetcode">Reset code:</label>
            <input formControlName="resetCode" type="text" id="resetcode" class="form-control">
            <button class="main-btn w-100 mt-3">Reset code</button>
            <p *ngIf="errMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{errMessage}}</p>
        </form>
    </section>


    <section *ngIf="step3" class="w-75 rounded mx-auto p-2 bg-light-main shadow mt-5 ">
        <h3 class="text-center text-main fw-bolder pt-2">Enter your new Password</h3>
        <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
            <label class="label-color w-100" for="newpassword">Reset Password:</label>
            <input formControlName="newPassword" type="password" id="newpassword" class="form-control">
            <button class="main-btn w-100 mt-3">Reset Password</button>
            <p *ngIf="errMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{errMessage}}</p>

        </form>
    </section>
</main>