<section class="my-5 w-75 mx-auto rounded shadow bg-light-main min-vh-100">
    <div class="container">
        <div class="details-card ">
            <div class="details w- d-flex justify-content-center align-items-center">
                <img class="" [src]="categeryDetails.image" [alt]="categeryDetails.name">
            </div>

            <div class=" d-flex justify-content-center align-items-center">
                <h3 class="text-main  fw-bolder fs-1">{{categeryDetails.name}}</h3>
            </div>

        </div>
    </div>
</section>