/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap');
$main-color:#fd865c;
$light-color:#f4f0ed;
$rating-color:#ffd000;

$main-transition:0.8s;
$shadow:rgba(185, 172, 145, 0.2) 0px 2px 4px -1px,
rgba(185, 165, 145, 0.14) 0px 4px 5px 0px,
rgba(185, 164, 145, 0.12) 0px 1px 10px 0px;


body{
    font-family: 'Encode Sans Expanded', sans-serif;
}

.rating-color{
    color:$rating-color;
}

.text-main{
    color: $main-color;
}
.main-btn{
    padding: 8px 12px;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;
    border: unset;
    &:disabled{
        background-color:#79453277;
        color: #ffffff78;
        cursor: not-allowed;
    }
}


.fs-sm{
    font-size: 14px;
    font-weight: 300;
}

.active-link{
    background-color: $main-color;
    color: #fff;
    border-radius: 5px;
}

.main-height{
    min-height: 450px;
}

.bg-light-main{
    background-color: $light-color;
}



::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: $light-color;
}
::-webkit-scrollbar-thumb{
    background-color: $main-color;
}